<div ng-if="!loggedIn">
    <div class="text-center">
        <img src="static/img/logo.png" width="50px;">
    </div>
    <form id="login-form" name="loginForm" novalidate ng-submit="login(loginForm)">
        <form-field placeholder="Username" fieldtype="text" field="username" object="auth" required="true"></form-field>
        <form-field placeholder="Password" fieldtype="password" field="password" object="auth" required="true"></form-field>
        <button type="submit" class="btn btn-primary btn-block">Login</button>
    </form>
    <div class="text-center text-muted">
        <small>Parcelman &mdash; A Simple Parcel Manager &copy; 2015</small>
    </div>
</div>
<div ng-if="loggedIn">
    <div class="row content">
        <div class="col-md-4">
            <h4 class="card-title"><span class="pmicon pmi-parcel"></span> Parcel Receiver</h4>
            <p>Use the form below to register received parcel from messengers.</p>
            <div class="card white-shadow">
                <div class="card-block">
                    <form id="parcel-form" name="parcelForm" novalidate ng-submit="addParcel(parcelForm)">
                        <form-field placeholder="Recepient's Name" fieldtype="text" field="student_name" object="parcel" required="true"></form-field>
                        <form-field placeholder="Parcel Type" fieldtype="dropdown" field="parcel_type" object="parcel" list="parcel_type" required="true"></form-field>
                        <form-field placeholder="Tracking ID (Optional)" fieldtype="text" field="parcel_id" object="parcel" required="false"></form-field>
                        <button class="btn btn-success" type="submit">Register</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <input class="form-control" placeholder="Search parcel by Student's Name or Tracking ID" ng-model="parcelSearch">
            <hr>
            <div class="row">
                <div class="col-md-4 col-sm-6" ng-repeat="a in parcels | filter: parcelSearch | orderBy:'date_in':false">
                    <div class="card white-shadow">
                        <div class="card-header" ng-switch="a.parcel_type">
                            <span ng-switch-when="1"><span class="pmicon pmi-letter"></span> Letter</span>
                            <span ng-switch-default><span class="pmicon pmi-package"></span> Package</span>
                        </div>
                        <div class="card-block">
                            <p class="card-text">
                                <span class="student_name" ng-bind="a.student_name"></span><br>
                                <small><kbd ng-bind="a.parcel_id || 'No Tracking ID'"></kbd></small><br>
                                <small class="text-muted" am-time-ago="a.date_in"></small>
                            </p>
                            <span ng-switch="a.status">
                                <span ng-switch-when="0">Unknown</span>
                                <span ng-switch-when="1"><button ng-click="claim(a.id)" class="btn btn-secondary btn-sm btn-block">Claim</button></span>
                                <span ng-switch-when="2">Claimed</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>