<fieldset class="form-group" ng-form="{{ field }}" ng-class="{ 'has-error': {{ field }}.$dirty && {{ field }}.$invalid }">
    <label ng-if="placeholder">{{ placeholder }}</label>

    <!-- DATE FIELD -->
    <span ng-if="fieldtype == 'date'">
        <datepick date-format="dd MMM y">
            <input class="form-control" ng-model="object[field]" required="true">
        </datepick>
    </span>

    <!-- TEXT FIELD -->
    <span ng-if="fieldtype == 'text' || fieldtype == 'password' || fieldtype == 'email' || fieldtype == 'number'">
        <span ng-switch="required">
            <input ng-switch-when="true" type="{{ fieldtype }}" class="form-control" ng-model="object[field]" required="true">
            <input ng-switch-when="false" type="{{ fieldtype }}" class="form-control" ng-model="object[field]">
        </span>
    </span>


    <!-- TEXTAREA -->
    <span ng-if="fieldtype == 'textarea'">
        <span ng-switch="required">
            <textarea ng-switch-when="true" class="form-control" ng-model="object[field]" required="true"></textarea>
            <textarea ng-switch-when="false" class="form-control" ng-model="object[field]"></textarea>
        </span>
    </span>

    <!-- TYPEAHEAD: id and name attribute is required -->
    <span ng-if="fieldtype == 'typeahead'">
        <input type="text" class="form-control" ng-model="object[field]"
            typeahead="item as item.name for item in list | filter: $viewValue | limitTo: 10" required="true">
    </span>

    <!-- DROPDOWN: id and name attribute is required -->
    <span ng-if="fieldtype == 'dropdown'">
        <select class="form-control" ng-model="object[field]" ng-options="item as item.name for item in list"></select>
    </span>
</fieldset>