@import "../../lib/bootstrap/scss/bootstrap";
@import "notification";
@import "icons";

// Helpers
// =====================================
.card-shadow {
    background: #FFF;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 2px rgba(#000, 0.1);
}

.white-shadow {
    background: #FFF;
    box-shadow: 0 0 5px rgba(#000, 0.1);
}

@mixin multiline-ellipsis($font-size, $line-height, $lines-to-show) {
    display: block;
    display: -webkit-box;
    width: 100%;
    height: $font-size*$line-height*$lines-to-show;
    margin: 0 auto;
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

// =====================================
body {
    padding-top: 10px;
    background: lighten(#EAEAEA, 5%);
}

#login-form {
    @extend .card-shadow;
    width: 350px;
    margin: 20px auto;
}

.content {
    margin-top: 20px;
}

.navbar-brand {
    span { margin-left: 10px; }
    img {
        height: 30px;
        float: left;
    }
}

.table-inverse {
    background-color: lighten(#373a3c, 5%);
}

.student_name {
    @include multiline-ellipsis(1rem, 1.2, 1);
}