@import "../../lib/bootstrap/scss/bootstrap";


.card-shadow {
    background: #FFF;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 2px rgba(#000, 0.1);
}

body {
    padding-top: 10px;
    background: lighten(#EAEAEA, 5%);
}

#login-form {
    @extend .card-shadow;
    width: 350px;
    margin: 20px auto;
}