<div id="Landing">
    <section class="jumbotron text-center">
        <div class="transparent_container">
            <h1 class="display-1 font-porter">Never lose a package.</h1>
            <form class="LANDING-search" ng-submit="search(form)">
                <div class="input-group">
                    <input class="form-control form-control-lg" ng-model="query" placeholder="Search your parcel.">
                    <span class="input-group-btn">
                        <button class="btn btn-primary btn-lg" type="submit"><span class="pmicon pm-search"></span></button>
                    </span>
                </div>
            </form>
        </div>
    </section>
    <div class="container">
        <h3 class="text-center logo-text">PARCELMAN</h3>
        <section class="text-center intro-text">
            <p class="lead">
                A world-class web app that manages your package with extra care and efficiency. <br>
                <small class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium ipsa et cum, ullam amet incidunt est corrupti quis, officiis magni quas necessitatibus neque voluptatum nostrum atque quia perferendis officia tempora?</small>
            </p>
        </section>

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">Schedule</h4>
                        <h6 class="card-subtitle text-muted">Duty Roster for Cleaning</h6>
                    </div>
                    <!-- <img data-src="holder.js/100%x180/?text=Image" alt="Card image"> -->
                    <div class="card-block">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Title</th>
                                    <th>Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr><td>#</td><td>Schedule 1</td><td>10.00am</td></tr>
                                <tr><td>#</td><td>Schedule 1</td><td>10.00am</td></tr>
                                <tr><td>#</td><td>Schedule 1</td><td>10.00am</td></tr>
                                <tr><td>#</td><td>Schedule 1</td><td>10.00am</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">Politeknik Mersing</h4>
                        <h6 class="card-subtitle text-muted">Bodek Politeknik</h6>
                    </div>
                    <!-- <img data-src="holder.js/100%x180/?text=Image" alt="Card image"> -->
                    <div class="card-block">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>