<div class="modal-body">
    <form name="parcelform" ng-submit="parcelcrud(parcelform)" novalidate>
        <h3 class="text-center font-porter text-primary" ng-if="!exist">Add Parcel</h3>
        <h3 class="text-center font-porter text-primary" ng-if="exist">Parcel Details</h3>
        <p class="text-center" ng-if="exist && parceldetails.date_out">
            Claimed <span am-time-ago="parceldetails.date_in" am-full-date-threshold="4" am-full-date-format="D MMM YYYY"></span> 
            by <span ng-bind="parceldetails.recipient_id || 'Anonymous'"></span>
        </p>
        <hr>
        <formgroup object="parceldetails" field="recipient_name" placeholder="Recipient's Name" icon="pm-head" type="text" inputgroup="true" required="true"></formgroup>
        <formgroup object="parceldetails" field="recipient_phone" placeholder="Recipient's Phone No." icon="pm-phone" type="text" inputgroup="true" required="false"></formgroup>
        <formgroup object="parceldetails" field="tracking_no" placeholder="Tracking No" icon="pm-location-2" type="text" inputgroup="true" required="false"></formgroup>
        <formgroup object="parceldetails" field="parcel_type" placeholder="Parcel Type" icon="pm-layers" array="parcel_types" type="dropdown" required="false"></formgroup>
        <formgroup object="parceldetails" field="notes" placeholder="Notes" icon="pm-paper-clip" type="textarea" required="false"></formgroup>
        <hr>
        <div class="text-center">
            <div class="btn-group">
                <button class="btn btn-primary" type="submit" ng-if="!exist">Add Parcel</button>
                <button class="btn btn-primary" type="submit" ng-if="exist && parceldetails.status == 1">Claim Parcel</button>
                <button class="btn btn-danger" type="button" ng-if="exist && parceldetails.status == 1" ng-click="deleteParcel()">Delete Parcel</button>
                <a class="btn btn-secondary" ng-click="closeModal()">Close</a>
            </div>
        </div>
    </form>
</div>