<div class="modal-body">
    <form name="loginform" ng-submit="login(loginform)" novalidate>
        <h3 class="text-center">Login</h3>
        <hr>
        <formgroup object="loginitem" field="username" placeholder="Username" icon="pm-head" type="text" inputgroup="true" required="true" ></formgroup>
        <formgroup object="loginitem" field="password" placeholder="Password" icon="pm-lock" type="password" inputgroup="true" required="true" ></formgroup>
        <button type="submit" class="btn btn-primary btn-block">Login</button>
    </form>
</div>