<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#/">
        <span>Parcelman</span>
    </a>
    <ul class="nav navbar-nav pull-right">
        <li class="nav-item">
            <a class="nav-link" href="#/" ng-click="showAddParcelForm()"><span class="pmicon pm-marquee-plus"></span> Add Parcel</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#/" ng-click="logout()"><span class="pmicon pm-power"></span> Logout</a>
        </li>
    </ul>
</nav>