<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#/">
        <span>Parcelman</span> <small ng-if="loggedIn" class="text-capitalize" ng-bind="username"></small>
    </a>
    <ul class="nav navbar-nav pull-right">
        <li class="nav-item" ng-if="loggedIn">
            <a class="nav-link" href="#/"><span class="pmicon pm-grid"></span> Dashboard</a>
        </li>
        <li class="nav-item" ng-if="loggedIn">
            <a class="nav-link" href="#/report"><span class="pmicon pm-clipboard"></span> Report</a>
        </li>
        <li class="nav-item">
            <span ng-switch="loggedIn">
                <a ng-switch-when="true" class="nav-link" ng-click="logout()"><span class="pmicon pm-power"></span> Logout</a>
                <a ng-switch-default class="nav-link" ng-click="showLoginForm()"><span class="pmicon pm-lock"></span> Login</a>
            </span>
        </li>
    </ul>
</nav>