<div class="row">
    <div class="col-md-8">
        <section class="row filter">
            <!-- FILTER BY KEYWORD -->
            <div class="col-md-8">
                <input class="form-control" ng-model="search" placeholder="Search by student's name or Tracking No">
            </div>

            <!-- FILTER BY STATUS -->
            <div class="col-md-4">
                <select class="c-select" ng-model="status">
                    <option value="">All</option>
                    <option value="2">Claimed</option>
                    <option value="1">Unclaimed</option>
                </select>
            </div>
        </section>
        <section>
            <table class="table table-bordered table-sm">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Recipient</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th>Tracking ID</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="p in parcels | filter: search | filter: { status: status} | orderBy: '-date_in'" ng-click="viewParcelDetails(p.id)">
                        <td><span class="small tracking_no" ng-bind="$index + 1"></span></td>
                        <td><span ng-bind="p.recipient_name"></span></td>
                        <td>
                            <small ng-switch="p.parcel_type">
                                <span ng-switch-when="1"><span class="pmicon pm-box"></span> Package</span>
                                <span ng-switch-when="2"><span class="pmicon pm-mail"></span> Letter</span>
                                <span ng-switch-default><span class="pmicon pm-record"></span> Unknown Parcel</span>
                            </small>
                        </td>
                        <td>
                            <span ng-switch="p.status">
                                <small ng-switch-when="1" class="text-muted">Received <span am-time-ago="p.date_in" am-full-date-threshold="4" am-full-date-format="D MMM YYYY"></span></small>
                                <small ng-switch-when="2" class="text-success"><span class="pmicon pm-check"></span> Claimed <span am-time-ago="p.date_out" am-full-date-threshold="4" am-full-date-format="D MMM YYYY"></span></small>
                            </span>
                        </td>
                        <td><small class="tracking_no"><span class="pmicon pm-location-2"></span> <span ng-bind="p.tracking_no || 'N/A'"></span></small></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
    <div class="col-md-4">
        <div class="jumbotron text-center">
            <p>Selamat Datang Ke Parcelman</p>
            <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias quam ea, illum, inventore velit temporibus obcaecati saepe unde, ut veritatis omnis praesentium harum. Architecto adipisci minima nisi laboriosam cum iste.</small>
        </div>
    </div>
</div>